<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registration</title>
</head>
<body>
    <header class="site-header">
        <a class="back-btn header-btn" href="/main">← Back to Albums</a>
        <h1>Media Manager</h1>
        <a class="logout-btn header-btn" href="/logout">Logout</a>
    </header>

    {{#if message}}
        <div style="color: red;">{{message}}</div>
    {{/if}}
    <h2>Registration forum</h2>
    <form method="post">
        Email: <input name="email"><br>
        Username: <input name="username"><br>
        Password: <input name="password" type="password"><br>
        Cofirm Password: <input name="confPassword" type="password"><br>
        <input type="submit">
    </form>
</body>
</html>
