<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>search</title>
</head>

<body>
    <h2>Search results for "{{query}}"</h2>

    <div class="photo-grid">
        {{#each photos}}
        <div class="photo-card">
            <a href="/photos/{{this._id}}">
                <img src="{{this.path}}" alt="photo">
                <div class="photo-name">{{this.title}}</div>
            </a>
        </div>
        {{/each}}

        {{#unless photos.length}}
        <p>No matching photos found.</p>
        {{/unless}}
    </div>


</body>

</html>