<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="https://www.flaticon.com/free-icons/file-upload">
    <title>Upload photo</title>
    
</head>
<body>
    <header class="site-header">
        <a class="back-btn header-btn" href="/main">← Back to Albums</a>
        <h1>Media Manager</h1>
        <a class="logout-btn header-btn" href="/logout">Logout</a>
    </header>

    <h1>Upload new photo to {{albumName}} album</h1>
    <form action="/albums/:name/upload" method="post" enctype="multipart/form-data">
         <input type="file" name="uploaded_photo" accept=".jpg, .jpeg, .png" id="uploadButton" required><br>
        File name <input type="text" name="fileName" required><br>
        <input type= "hidden" name="userID" value ="">
        <input type="hidden" name="albumName" value={{albumName}}>

     <button>Upload</button>
    </form>
    
</body>
</html>